# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# MacOS
.DS_Store

# Data and Outputs
**/Custom_Data/
**/explore_output/
**/step2_output/
**/step3_output/
**/step4_output/
**/EmotionData/
venv/
__pycache__/
*.pyc*.pt
*.pth